# version
version=0.0.1
secreteKey=OgataLab
log4j.path=/Users/ogataslab/eclipse-workspace/spec-based/logs/log.out

# cloudsync
# abp
# nspk
caseStudy=nspk

# project base location
project.base=/Users/ogataslab/eclipse-workspace/spec-based

# maude program
maude.worker.isEnable=false
maude.program=/Users/ogataslab/Downloads/Applications/Maude-2.7.1-osx/maude.darwin64
maude.depth=2

# jpf configuration
jpf.isStoreStates=true
jpf.bmc.isEnable=true
jpf.bmc.max_depth=300
jpf.percentages=10.01 5.1
jpf.depth=100
jpf.depth.isEnable=true
jpf.bound=10000
jpf.bound.isEnable=true

env.isRemote=false
# rabbitmq remote
rabbitmq.remote.host=45.32.43.1
rabbitmq.remote.username=dev
rabbitmq.remote.password=pdev
# rabbitmq local
rabbitmq.local.host=localhost
rabbitmq.local.username=
rabbitmq.local.password=

# redis remote
redis.remote.host=45.32.43.1
redis.remote.port=6379
# redis local
redis.local.host=localhost
redis.local.port=6379

# saving results to MySQL database
mysql.isEnable=false

# mysql remote
mysql.remote.host=
mysql.remote.port=
mysql.remote.username=
mysql.remote.password=
mysql.remote.database=
# mysql local
mysql.local.host=localhost
mysql.local.port=3306
mysql.local.username=root
mysql.local.password=
mysql.local.database=ogatalab
